{% extends 'base.html.twig' %}

{% block title %}Nouveau Panier{% endblock %}

{% block body %}
    <h1>Nouveau Panier</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('panier_index') }}"> Retour </a>
{% endblock %}
