<form method="post" action="{{ path('oeuvre_delete', {'id': oeuvre.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette oeuvre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i> Supprimer cette oeuvre</button>
</form>
