{% extends 'base.html.twig' %}

{% block title %}New Oeuvre{% endblock %}

{% block body %}
    <h1>Create new Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig') }}

    <a href="{{ path('oeuvre_index') }}">back to list</a>
{% endblock %}
