{% extends 'base.html.twig' %}

{% block title %}Oeuvre index{% endblock %}

{% block body %}
    <h1>L'art d'un temps et ses merveilles</h1>

    <p>Le temps d'un moment, l'art d'un temps vous propose de venir à la découverte de ses incroyables oeuvres, qui ont germées de l'esprit de nos artistes partenaires. Que ce soit par la peinture, la sculpture ou autres expressions créatrice qui vous sont proposés, nous espéront vous faire passer un moment de bonheur. L'art au cour du temps s'est exprimé de bien des façons, vous trouverez ici un panel d'oeuvres qui représente une partie émergente de notre temps</p>

    <section>
        
            <div class="container">

                    <h2 class="text-center">La peinture</h2>

                <div class="row ">

                    <!-- OEUVRE 1 -->
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <article id="mea-o1" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 2 -->
                    <div class=" col-xl-4 col-lg-5 col-md-6">
                        <article id="mea-o2" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 3 -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <article id="mea-o1" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 4 -->
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <article id="mea-o4" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>
                        
                    {# <div class="g-4 py-2"> #}

                        <!-- OEUVRE 5 -->
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <article id="mea-o1" class="p-3">
                                
                                <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 6 -->
                        <div class="col-xl-2 col-lg-2 col-md-4">
                            <article id="mea-o2" class="p-3">
                                
                                <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 7 -->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                            <article id="mea-o1" class="p-3">
                                <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 8 -->
                        <div class="col-xl-4 col-lg-7 col-md-6">
                            <article id="mea-o4" class="p-3">
                                <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>
                    {# </div> #}
                </div>
            </div>
    </section>

    <section>
        
            <div class="container">

                    <h2 class="text-center">La sculpture</h2>

                <div class="row ">

                    <!-- OEUVRE 1 -->
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <article id="mea-o1" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 2 -->
                    <div class=" col-xl-4 col-lg-5 col-md-6">
                        <article id="mea-o2" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 3 -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <article id="mea-o1" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 4 -->
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <article id="mea-o4" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>
                        
                    {# <div class="g-4 py-2"> #}

                        <!-- OEUVRE 5 -->
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <article id="mea-o1" class="p-3">
                                
                                <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 6 -->
                        <div class="col-xl-2 col-lg-2 col-md-4">
                            <article id="mea-o2" class="p-3">
                                
                                <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 7 -->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                            <article id="mea-o1" class="p-3">
                                <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 8 -->
                        <div class="col-xl-4 col-lg-7 col-md-6">
                            <article id="mea-o4" class="p-3">
                                <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>
                    {# </div> #}
                </div>
            </div>
    </section>

    <section>
        
            <div class="container">

                    <h2 class="text-center">La céramique</h2>

                <div class="row ">

                    <!-- OEUVRE 1 -->
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <article id="mea-o1" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 2 -->
                    <div class=" col-xl-4 col-lg-5 col-md-6">
                        <article id="mea-o2" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 3 -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <article id="mea-o1" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>

                    <!-- OEUVRE 4 -->
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <article id="mea-o4" class="p-3">
                            
                            <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                            </img>
                            <h3><a href="#">Name Art</a></h3>
                            <span class="details-oeuvre">Name Artiste - date</span>
                        </article>
                    </div>
                        
                    {# <div class="g-4 py-2"> #}

                        <!-- OEUVRE 5 -->
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <article id="mea-o1" class="p-3">
                                
                                <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 6 -->
                        <div class="col-xl-2 col-lg-2 col-md-4">
                            <article id="mea-o2" class="p-3">
                                
                                <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 7 -->
                        <div class="col-xl-2 col-lg-4 col-md-4">
                            <article id="mea-o1" class="p-3">
                                <img class="rounded" src="/images/oeuvre_mea_01.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>

                        <!-- OEUVRE 8 -->
                        <div class="col-xl-4 col-lg-7 col-md-6">
                            <article id="mea-o4" class="p-3">
                                <img class="rounded" src="/images/oeuvre_mea_02.jpg">
                                </img>
                                <h3><a href="#">Name Art</a></h3>
                                <span class="details-oeuvre">Name Artiste - date</span>
                            </article>
                        </div>
                    {# </div> #}
                </div>
            </div>
    </section>

{% endblock %}
