<form method="post" action="{{ path('membre_delete', {'id': membre.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce membre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membre.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i> Supprimer ce membre</button>
</form>
