{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/Art-d-un-temps/src/Controller/ProfilController.php'|file_link(0) }}">src/Controller/ProfilController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/Art-d-un-temps/templates/profil/index.html.twig'|file_link(0) }}">templates/profil/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
