<form method="post" action="{{ path('admin_supprimer_utilisateur', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i> Supprimer cet utilisateur</button>
</form>