{% extends 'bo_base.html.twig' %}

{% block title %}Art d'un temps - Nouvel événement{% endblock %}

{% block content %}
     <h1>Ajouter un nouvel événement</h1>
    <div class="card mt-3 mb-3">
        <div class="card-body">
        {{ form(newEventForm)}}
        </div>


{% endblock %}