{% extends 'bo_base.html.twig' %}

{% block title %}Art d'un temps - Nouvelle oeuvre{% endblock %}

{% block content %}
     <h1>Ajouter une nouvelle oeuvre</h1>
    <div class="card mt-3 mb-3">
        <div class="card-body">
        {{ form(newOeuvreForm)}}
        </div>


{% endblock %}