{% extends 'bo_base.html.twig' %}

{% block title %}Art d'un temps - Nouvel utilisateur{% endblock %}

{% block content %}
     <h1>Créer un nouvel utilisateur</h1>
    <div class="card mt-3 mb-3">
        <div class="card-body">
        {{ form(newUserForm)}}
        </div>


{% endblock %}