{% extends 'base.html.twig' %}

{% block title %}Concept
{% endblock %}

{% block body %}

	<div class="container">
		<article class="concept">
			<h1>Art d'un temps, la galerie d'art en ligne des artistes en herbe !!</h1>

			<p>
				<strong>
					Art d'un temps, est un site qui a pour vocation de faire découvrir les artistes emergents  et leur apporter une plus grande visibilité. Vous y découvrirez donc toutes les réalisations de ces artistes dans des domaines tels que la peinture, la sculpture, la céramique ,le street-art et ce quelque soit leur provenance.
				</strong>
			</p>


			<h2>Les differents concepts d'Art d'un temps, la galerie d'art en ligne!</h2>


			<div>
				<ul>
					<li>
						<strong>
							Découvrez!

						</strong>La decouverte des oeuvres et réalisations des artistes.</li><br>
					<li>
						<strong>Gérez!
						</strong>la possibilité pour les artistes de gérer leur oeuvres et les mettre à jour.</li><br>
					<li>
						<strong>Achetez!</strong>
						L'achat d'oeuvre en ligne, pour les passionnés en quelques clics.</li><br>
					<li>
						<strong>Venez!</strong>
						A travers l'organistion d'evenements, Art d'un temps permet auxartistes et passionnés d'art de se rencontrer.</li>
				</ul>
			</div>


			<div class="container">

				<div class="mt-5">
				<h3>découvrez!</h3>

					<div class="col-8">
						<img src="/images/decouvrez.png" alt="">
					</div>
						
	
						<p>Art d'un temps, permets aux passionnéss d'art, de decouvrir les realisations d'artistes venant des 4 coins du monde. De chez vous visualisez toutes les oeuvres, classés par thématiques en quelques clics sans bouger de chez vous. Découvrez ou redecouvrez vos artistes préferez. l'art n'a jamais été aussi facile d'accés grace à Art d'un temps!!
						</p>
					</div>

				</div>
			</div>

		

			<div class="container">
			

			<div class="mt-5">
						<h3>Gérez!</h3>
					<div class="col-8">
						<img src="/images/gerez.png" alt="">
					</div>
	
					<div class="col-8">
	
						
	
						<p>Art d'un temps, permets aussi aux artistes de pouvoir faire decouvrir leur univers, leurs realisations et les mettre a jour, en leur offrant la possibilité d'avoir un espace dédié avec leur coordonnees,ce qui permettra aux visiteurs passionés d'art de rentrer en contact avec eux directement. Ainsi, les artistes pourront montrer toute l'etendue de leur talent en temps reel
						</p>
					</div>

			</div>	
			
			</div>

			<div class="container">

			
			<div class="mt-5">
					<h3>Achetez!</h3>
				<div>
					<div class="col-8">
					<img src="/images/achetez.png" alt="">
				</div>
						
	
						<p>Vous avez flashé sur une œuvre d'art ou un tableau ? Art d'un temps propose aux artistes la possibilité de vendre leur œuvres directement en ligne et vous permet donc de les acquerir en quelques clics, sans vous déplacer de votre canapé.Fini les files d'attente interminables avec Art d'un temps, c'est l'art qui vient à vous!</p>
					</div>
				
			</div>
			</div>

			<div class="container">

			<div class="mt-5">
			<h3>Venez!</h3>
				<div>
					<img src="/images/venez.jpg" alt="">
				</div>

				<div class="col-8">

					

					<p>Art d'un temps, la galerie d'art en ligne vous permets également de participer à des evénements. A cette occasion artistes et passionnés d'art pourront se rencontrer à travers ces rendez vous artistiques tels que des vernissages, des expositions, salons et autres, afin de partager ou echanger.
					</p>

				</div>

			</div>

			</div>


			<div class="container">


			<div class="mt-5 mb-2">
				<div class="col-8">
				<h3>Articles, prochainement..⚠</h3>
				<div>
					<img src="/images/article.png" alt="">
				</div>

					

					<p>Trés prochainement, sur Art d'un temps la galerie d'art en ligne.Vous aurez la posiibilité d'acceder à notre rubrique "articles". Dans celle ci vous trouverez des articles relatifs au monde de l'art en général, des articles, des focus sur des techniques ou encore des temoignages d'artistes ou de passionnés.</p>
				</div>

			</div>
			</div>


		</article>
</container>
{% endblock %}
