{% extends 'base.html.twig' %}

{% block title %}Concept
{% endblock %}

{% block body %}

<div class="container-fluid bc-top-page bg-info text-justify">
        <div class="container pt-4 pb-4">
            <h1 class="pb-4">Art d'un temps, la galerie d'art en ligne des artistes en herbe</h1>
        
            <h2>Art d'un temps, est un site qui a pour vocation de faire découvrir les artistes emergents  et leur apporter une plus grande visibilité. Vous y découvrirez donc toutes les réalisations de ces artistes dans des domaines tels que la peinture, la sculpture, la céramique ,le street-art et ce quelque soit leur provenances</h2>

        </div>
</div>

<article>
				

                <section class="py-5 text-center">

</section>


<section class="pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-xl-8 mx-auto">
                <div class="p-5 bg-white shadow rounded">
                    <!-- Bootstrap carousel-->
                    <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
                        <!-- Bootstrap carousel indicators [nav] -->
                        <ol class="carousel-indicators mb-0">
                            <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>


                        <!-- Bootstrap inner [slides]-->
                        <div class="carousel-inner px-5 pb-4">
                            <!-- Carousel slide-->
                            <div class="carousel-item active">
                                <div class="media">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i><strong>C'est la promotion qui fait l'artiste ou le degré zéro de l'art...John Hamon</strong></p>
                                            <footer>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                            <!-- Carousel slide-->
                            <div class="carousel-item">
                                <div class="media">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i><strong>L'Art n'explique pas, il exprime par touches, le silence du ressenti...Kheira Chakor.</strong></p>
                                            <footer>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                            <!-- Carousel slide-->
                            <div class="carousel-item">
                                <div class="media">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i><strong>L'artiste transforme toujours tout sur son passage. Bien au-delà de ça, il transcende et transforme la forme par ce qu'il est...Malou Moulis.</strong></p>
                                            <footer>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- Carousel slide-->
                            <div class="carousel-item">
                                <div class="media">
                                    <div class="media-body ml-3">
                                        <blockquote class="blockquote border-0 p-0">
                                            <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-primary"></i><strong>L'artiste, c'est celui qui place son âme au coeur de tout ce qu'il fait parce qu'il voit l'essence des gens, des choses et du monde qui l'entoure...M.M</strong></p>
                                            <footer>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Bootstrap controls [dots]-->
                        <a class="carousel-control-prev width-auto" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="fa fa-angle-left text-dark text-lg"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next width-auto" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="fa fa-angle-right text-dark text-lg"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



				<div class="container">

                <h2 class="text-center">le concept du site art d'un temps en 4 points: <a href="#decouvrez">découvrez</a>, <a href="#gerez">gérez</a>,<a href="#achetez">achetez</a>, <a href="#venez">venez</a> !!</h2>

					<div id="decouvrez"class="mt-5">
						<h3 class="text-center"><a href="#">découvrez!</a></h3>

						<div class="text-center mt-3">
							<img src="/images/decouvrez.png" alt="">
						</div>


						<p class="text-center mt-3"><strong>"Art d'un temps", permets aux passionnés d'art, de decouvrir les realisations d'artistes venant des 4 coins du monde. De chez vous, visualisez toutes les oeuvres, classés par thématiques en quelques clics sans bouger de chez vous. Découvrez ou redécouvrez vos artistes préferés. L'art n'a jamais été aussi facile d'accès grace à Art d'un temps!!</strong>
						</p>
					</div>

				</div>
			</div>


			<div class="container">


				<div class="mt-5">

					<h3 id="gerez"class="text-center"><a href="#">Gérez!</a></h3>

					<div class="text-center mt-3">
						<img src="/images/gerez.png" alt="">
					</div>

					<div>


						<p class="text-center mt-3"><strong>"Art d'un temps", permets aussi aux artistes de pouvoir faire découvrir leur univers, leurs réalisations et les mettre a jour, en leur offrant la possibilité d'avoir un espace dédié avec leur coordonnees. Ce qui permettra aux visiteurs passionés d'art de rentrer en contact avec eux directement. Ainsi, les artistes pourront montrer toute l'étendue de leur talent en temps reéel.</strong>
						</p>
					</div>

				</div>

			</div>

			<div class="container">


				<div class="mt-5">
					<h3 id="achetez"class="text-center"><a href="#">Achetez!</a></h3>
					<div>
						<div class="text-center mt-3">
							<img src="/images/achetez.png" alt="">
						</div>


						<p class="text-center mt-3"><strong>Vous avez flashé sur une œuvre d'art ou un tableau ? Art d'un temps propose aux artistes la possibilité de vendre leur œuvres directement en ligne et vous permet donc de les acquérir en quelques clics, sans vous déplacer de votre canapé. Fini les files d'attente interminables avec Art d'un temps, c'est l'art qui vient à vous!</strong></p>
					</div>

				</div>
			</div>

			<div class="container mt-3">

				<div class="mt-5">
					<h3 id="venez"class="text-center"><a href="#">Venez!</a></h3>
					<div class="text-center mt-3">
						<img src="/images/venez.jpg" alt="">
					</div>

					<div>


						<p class="text-center mt-3"><strong>"Art d'un temps", la galerie d'art en ligne vous permets également de participer à des événements. A cette occasion artistes et passionnés d'art pourront se rencontrer à travers ces rendez-vous artistiques tels que des vernissages, des expositions, salons et autres, afin de partager ou echanger.</strong>
						</p>

					</div>

				</div>

			</div>


			<div class="container">


				<div class="mt-5">
					<div class="text-center">
						<h3 id="articles"class="text-center"><a href="#">Articles, prochainement..⚠</a></h3>
						<div class="text-center mt3">
							<img src="/images/article.png" alt="">
						</div>


						<p class="text-center mt-3"><strong>Trés prochainement, sur "Art d'un temps" la galerie d'art en ligne. Vous aurez la possibilité d'accéder à notre rubrique "articles". Dans celle-ci vous trouverez des articles relatifs au monde de l'art en général, des articles, des focus sur des techniques ou encore des témoignages d'artistes ou de passionnés.</strong></p>
					</div>

				</div>
			</div>

		</div>
 </article>
{% endblock %}
