@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    background-color: white;
}

.btn {
    border-radius: 22.5px;
    font-weight: bold;
    background-image: linear-gradient(to right, #ffc200, #fff900);
}

li {
    list-style-type: none;
}
