<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}BackOffice - Art d'un temps
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</head>
	<body>
		<div class="container-fluid p-0 m-0">
			{{ include("menu.html.twig") }}

            <main class="bg-dark p-3">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </main>

            <footer>
                <div class="text-center">
					&copy;{{ "now"|date("Y") }}. Tous droits réservés, Design by ESDJ - Best Team ever 🎨
				</div>
            </footer>

        </div>
    </body>
